
:root {
    --picture-box: 80px;
}
html {
    font-size: 16px;
   
}
* {
    margin: 0;
    padding: 0;    
}
.loader {
    background-color: #30302C;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loadingbox {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    box-sizing: border-box;
    animation: loadinglayer1 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.innerloadingbox {
    height: 0%;
    width: 100%;
    background-color: white;
    animation: loadinglayer2 .5s linear .5s infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes loadinglayer1 {
    0% {
        transform: rotate(0deg);
    }
    50%, 100% {
        transform: rotate(180deg);
    }
}
@keyframes loadinglayer2 {
    0%, 50% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
body {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../exported/blog_background.png);
    background-size: cover;
}
nav {
    width: 18%;
    background-color: #30302C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_items {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    list-style: none;
}
.selected {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: right;
    font-size: 1.2em;
}
.nav_items a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: right;
}
.nav_items li {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    box-sizing: border-box;
    transition: background-color .5s ease-in-out;
}
.nav_items li:not(.selected):hover {
    background-color: #000000;
}

.main_logo {
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_social_media_icons {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_social_media_icons a {
    text-decoration: none;
    padding-right: 1em;
    transition: margin .5s ease-in-out;
}
.nav_social_media_icons a:hover {
    margin-right: 5px;
}
.page_body {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;   
    
}
.blogs_wrapper {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 90%;
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.blog_heading {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Gotu', sans-serif !important;
}
.writing_section {
    font-family: 'Montserrat', sans-serif;
}
.blog {
    display: flex;
    justify-content: flex-start;
}
.image_section {
    width: var(--picture-box);
    padding: 5px;
    padding: 20px;
}
.image_holder {
    width: var(--picture-box);
    height: var(--picture-box);
    background-image: url(../../exported/blog_profile_picture.png);
    background-size: cover;
    border-radius: 50%;
}
.writing_section p:nth-child(1) {
    padding-top: 15px;
    font-weight: bolder;
}
.tags {
    font-size: 0.8rem;
    border: 0.5px solid #1078CB;
    border-radius: 20px;
    padding: 1em;
    margin-right: 5px;
    margin-top: 10px;
    float: left;
}
.writing_section p:nth-child(7) {
    padding-top: 2em;
    line-height: 1.5em;
}
.react_button {
    float: left;
    padding: 5px;
}
.react_number {
    display: block;
}
.react_number {
    background-color: #FBF8F8;
    border-radius: 10px;
    padding: 1em;
    margin-right: 30px;
}
.fa-heart {
    color: red;
}
.fa-commenting {
    color: blue;
}